# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
.venv_local/
venv/
env/

# Environment variables
.env

# Local databases
db.sqlite3
*.sqlite3

# Django collected static files
staticfiles/

# Logs
*.log

# Editor / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
